<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>책 목록</title>
    <link rel="stylesheet" href="/css/booklist.css">
    <script src="/js/booklist.js"></script>
</head>
<body>
<!-- 네비게이션 바 -->
<div id="navbar"></div>

<!-- 카테고리 및 정렬 선택 영역 -->
<div class="filters">
    <div class="category">
        <button class="category-button" data-category="0203_01">가족</button>
        <button class="category-button" data-category="0203_02">친구</button>
        <button class="category-button" data-category="0203_03">똥-방귀</button>
        <button class="category-button" data-category="0203_04">잠자기</button>
        <button class="category-button" data-category="0203_05">탈 것</button>
        <button class="category-button" data-category="0203_06">음식</button>
        <button class="category-button" data-category="0203_07">놀이</button>
        <button class="category-button" data-category="0203_08">그림</button>
        <button class="category-button" data-category="0203_09">음악</button>
    </div>
    <div class="sort-options">
        <label for="sortSelect"></label>
        <select id="sortSelect">
            <option value="VIEWCOUNT">조회수</option>
            <option value="RECENT">최신순</option>
            <option value="LIKES">좋아요</option>
        </select>
    </div>
</div>

<!-- 책 목록 컨테이너 -->
<div id="book-container" class="book-grid"></div>

<!--navbar script-->
<script>
    window.onload = function() {
        loadNavbar()
    };

    function loadNavbar() {
        fetch('/html/navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar').innerHTML = data;
                updateNavbarStatus();
            })
            .catch(error => console.error('Error loading navbar:', error));
        updateNavbarStatus()
    }

    function updateNavbarStatus() {
        const currentURL = window.location.pathname;
        const menuItems = document.querySelectorAll('.navbar-menu a');

        menuItems.forEach(item => {
            if (item.getAttribute('href') === currentURL) {
                item.id = 'status-tap';
            } else {
                item.removeAttribute('id');
            }
        });
    }

</script>

<script>
    initializeCategoryButtons('0203_01');
</script>
</body>
</html>