<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자녀 프로필 선택 - 아이들 나라</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="container">
    <div class="profile-box">
        <h1>어떤 아이의 프로필로<br>시작할까요?</h1>
        <div class="profile-list" id="profile-list">
            <!-- 자녀 프로필 정보가 여기에 동적으로 추가됩니다. -->
        </div>
        <div class="add-profile-button" id="createProfileButton">
            <span>+</span>
        </div>
        <p class="profile-add-text">프로필 추가</p>
    </div>
</div>

<script src="/js/profile.js"></script>
</body>
</html>